.top-selling-product-item {
    &__wrapper {
      cursor: pointer;
      border: none;
      background: transparent;
      cursor: pointer;
      display: flex;
      flex-flow: column;
      height: 100%;
      .ant-card-cover {
        box-shadow: 0px 4px 4px rgb(29 41 106 / 25%);
        border-radius: 16px;
        background: #F6F6F8;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 250px;
        img {
          height: 100%;
        }
      }
      .ant-card-body {
        padding: 8px 0 0;
      }
    }
    &__title {
      font-weight: 600;
      color: #2C3E5D;
      line-height: 22px;
    }
    &__description-1 {
      font-size: 18px;
      color: #22A06B;
      line-height: 26px;
    }
    &__description-2 {
      color: #B3B9C4;
      min-height: 25px;
      line-height: 25px;
    }
  }
  