.user-info {

  &__wrapper, &__avatar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: nowrap;
    gap: 32px;
    width: 100%;
  }
  &__title {
    display: flex;
    flex-flow: column;
    margin-left: 12px;
    span {
      line-height: normal;
    }
  }
  &__input-search {
    max-width: 410px;
  }
  &__down-icon {
    width: 24px;
    height: 24px;
    background: #E1DFDF;
    border-radius: 4px;
    padding: 5px;
    display: flex !important;
    align-items: center;
  }
}
