.table-view-wrapper {
  //overflow-y: auto;
  .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    min-height: 40px;
    margin-bottom: 20px;
    &__left-block {
      flex-grow: 1;
    }
    &__left-block, &__right-block {
      display: flex;
      align-items: center;
      gap: 15px;
      //flex-flow: wrap;
      & > div {
        //flex-basis: 13%;
        //width: 20%;
        //flex-grow: 1;
      }
    }
  }
  .table-second-header {
    margin-bottom: 13px;
  }
  .selected-item-label {
    height: 30px;
    padding: 5px 0;
  }
  .pagination-box {
    display: flex;
    justify-content: flex-end;
  }
}
