.table-view-wrapper {
  //overflow-y: auto;
  .table-header {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .selected-item-label {
    height: 25px;
  }
  .pagination-box {
    display: flex;
    justify-content: flex-end;
  }
}
