.dashboard-box {
    &__title {
      font-weight: 600;
      font-size: 20px;
      margin-left: 8px;
    }
    &__table {
      margin-top: 24px;
    }
  &__box-card {
    margin-top: 12px;
  }
  }
  