.ant-layout {
  background: #fff !important;
  .ant-layout-header {
    position: relative;
    z-index: 10;
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
  }
  .ant-layout-footer {
    color: #fff;
    background: #1890ff;
    padding: 15px 50px;
  }
}
