.add-payment-box {
    &__wrapper {
  
    }
    &__item:last-of-type.box-card__wrapper {
      margin-bottom: 0;
    }
    &__title {
      color: #4C4441;
      font-size: 20px;
      font-weight: 600;
    }
    &__icon {
      margin-top: 12px;
    }
    &__description {
      color: #4C4441;
      margin-top: 12px;
    }
    &__button {
      margin-top: 15px;
    }
  }
  