.setting-sub-sider-box {
    &__wrapper {
      display: flex;
      flex-flow: column;
      gap: 10px;
    }
    &__item {
      cursor: pointer;
      padding: 8px 12px;
      font-weight: 500;
      color: #827C7A;
      font-size: 16px;
      &.active {
        color: #4C4441;
        background: #E1DFDF;
        border: 1px solid #C5C2C1;
        border-radius: 8px;
      }
    }
  }
  