.orders-accounting-status {
  &__summary-box {
    background: #FFFFFF;
    border: 1px solid #F1F2F4;
    border-radius: 8px;
    display: flex;
    padding: 20px;
    gap: 48px;
    height: 60px;
  }
  &__summary-item {
    color: #2C3E5D;
    display: flex;
    align-items: center;
  }
  &__summary-value {
    font-weight: 600;
    font-size: 20px;
    margin-left: 4px;
    &--first {
      color: #0065FF;
    }
    &--second {
      color: #8270DB;
    }
    &--third {
      color: #D97008;
    }
    &--fourth {
      color: #22A06B;
    }
  }
}
