.public-footer {
  &__contents {
    max-width: 1000px;
    width: 100%;
    color: #FFFFFF;
  }
  &__right-block {
    display: flex !important;
    align-items: center;
  }
  &__description {
    margin-top: 8px;
  }
  &__contact {
    margin-top: 16px;
    border-radius: 18px;
    background: rgba(44, 62, 93, 0.4);
    backdrop-filter: blur(2.5px);
    padding: 14px 20px;
    display: flex;
  }
  &__detail-contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__detail-contact-label {
    font-weight: 600;
    margin-right: 10px;
  }
  &__social-contact {
    img {
      margin-right: 24px;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
    &--margin-top {
      margin-top: 16px;
    }
  }
  &__link {
    margin-bottom: 5px;
  }
  &__social-contact--fixed {
    position: fixed;
    right: 20px;
    bottom: 81px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;

  }
}
