.banner-box-2 {
  &__wrapper {
    background: url("~images/banner-bg-2.svg") center center no-repeat;
    background-size: cover;
    padding-top: 56px !important;
    padding-bottom: 88px !important;
  }
  &__contents {
    //max-width: 391px;
    margin-left: auto;
  }
  &__img-box {
    &--mobile {
      padding: 25px;
    }
  }
  &__img {
    display: flex;
    align-items: center;
    gap: 16px;
    img {
      width: 100%;
      height: auto;
      max-width: 389px;
      max-height: 389px;
    }
  }
  &__checkbox-list {
    margin-top: 32px;
  }
  &__checkbox-item {
    display: flex;
    align-items: center;
  }
  &__item-icon {
    height: 16px;
    width: 16px;
    border-radius: 2px;
    margin-right: 8px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    line-height: 16px;
    &--first {
      background: #8270DB;
    }
    &--second {
      background: #CC519D;
    }
    &--third {
      background: #E34935;
    }
    &--fourth {
      background: #D97008;
    }
  }
  &__item-label {
    font-weight: 600;
    color: #2C3E5D;
  }
  &__item-description {
    color: #626F86;
    margin: 11px 0 32px;
    &:last-of-type {
      margin-bottom: 24px;
    }
  }
}
