.product-options-box {
  &__wrapper {

  }
  &__option {
    background: #F7F8F9;
    border-radius: 8px;
    padding: 10px;
    position: relative;
  }
  &__option-remove {
    text-align: right;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  &__title {
    font-size: 12px;
    color: #758195;
  }
  &__content, &__option-value-title, &__option-value-content, button {
    margin-top: 5px;
  }
  &__option-values {
    padding-left: 15px;
    button {
      padding: 0;
    }
  }
  &__option-value-content {
    display: flex;
    align-items: center;
    gap: 10px;

    & > input {
      flex-grow: 1;
    }
    .ant-input-number {
      flex-basis: 40%;
    }
  }
}
