.sign-up-form {
  &__note {
    text-align: center;
    color: #5E6C84;
    .link {
      color: #F37644;
    }
  }
  &__email-note {
    font-size: 14px;
    color: #B38600;
    line-height: 18px;
  }
}
