.store-detail {
  &__description {
    color: #626F86;
    margin-bottom: 16px;
  }
  &__container {
    min-height: 100%;
  }
}
.setting-detail-page__wrapper {
  min-height: 100%;
}
.edit-domain-page__wrapper {
  margin-bottom: 32px !important;
}
