.categories-filters {
  &__title {
    color: #2C3E5D;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    border-radius: 8px;
    height: 33px;
    margin-bottom: 5px;
    &:last-of-type {
      margin-bottom: 0;
    }
    &-label {
      color: #2C3E5D;
    }
    &-count {
      color: #B3B9C4;
    }
    &:hover, &--active {
      cursor: pointer;
      background: #0065FF;
      .categories-filters__item-label {
        color: #FFFFFF;
      }
      .categories-filters__item-count {
        color: #F1F2F4;
      }
    }
  }
}
