.tabs-box {
  .ant-tabs {
    background: #F1F2F4;
    border-radius: 8px 8px 0px 0px;
  }
  .ant-tabs-nav {
    margin: 0;
    padding: 8px 24px;
  }
  .ant-tabs-tab {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 4px 6px;
    min-width: 150px;
  }
  .ant-tabs-ink-bar {
    display: none;
  }
  .ant-tabs-content-holder {
    padding: 24px;
    background: #F7F8F9;
  }
}
