.box-header {
  &__wrapper {
    margin-bottom: 24px;
  }
  &__title {
    color: #2C3E5D;
    font-weight: 500;
    font-size: 32px;
    line-height: 46px;
  }
  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #626F86;
    margin-top: 5px;
  }
  &__breadcrumb {
    margin-top: 5px !important;
  }
}
