.post-item {
  &__wrapper {
    text-align: left;
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  &__content {
    font-weight: 600;
    color: #2C3E5D;
    height: 100%;
  }
  &__avatar {
    padding-right: 12px;
    img {
      width: 46px;
      height: 46px;
      border-radius: 50%;
    }
  }
  &__user-info-wrapper {
    justify-self: end;
    margin-top: 30px;
    display: flex;
  }
  &__user-name {
    color: #626F86;
  }
  &__user-work {
    color: #B3B9C4;
  }
}
