.button-list {
  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    &--full-width > * {
      flex-grow: 1;
    }
    &--right {
      justify-content: flex-end;
    }
  }
}
