.button-list {
  &__wrapper {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    &--right {
      justify-content: flex-end;
    }
  }
}
