.banner-box-3 {
  &__wrapper {
    background: #FAFBFC;
    .category-slides__wrapper {
      margin-top: 20px;
    }
  }
  &__center-box {
    display: flex;
    justify-content: center;
  }
  &__contents {
    max-width: 1000px;
    text-align: center;
  }

  &__checkbox-list {
    display: flex;
    flex-flow: nowrap;
    gap: 30px;
    justify-content: center;
  }

  &__img {
    margin-left: 107px;
    img {
      width: 100%;
      height: 100%;
      max-width: 389px;
      max-height: 389px;
    }
  }
  &__first-category {
    margin-top: 64px;
  }
  &__first-category-slide {
    height: 270px;
    margin: 0 0 0 20px;
  }
  &__related-products {
    .react-multiple-carousel__arrow {
      top: 110px;
    }
  }
  &__related-product-item {
    padding: 0 20px 4px !important;
    .ant-card-cover {
      height: 270px !important;
    }
    .ant-card-body {
      text-align: left;
      padding-top: 12px;
      .category-item__title {
        font-weight: 600;
        font-size: 20px;
      }
      .category-item__description-1 {
        font-weight: 400;
        font-size: 18px;
        margin-top: 6px;
      }
    }
  }
  &__link {
    color: #8270DB;
  }
}
