.change-password {
  &__logo {
    margin-bottom: 52px;
    text-align: center;
  }
  &__box {
    padding: 40px;
  }

  &__contents {
    position: relative;
    min-height: 768px;
    &--mobile {
      min-height: auto;
      .change-password__box {
        flex-grow: 1;
      }
    }
  }
  &__logo {
    text-align: center;
    &--top {
      margin: 59px 0 162px;
    }
    &--bottom {
      margin: 162px 0 54px;
    }
  }
}
.change-password-admin {
  &__logo {
    margin-bottom: 52px;
    text-align: center;
  }
  &__box {
    padding: 20px;
  }
}
