.product-pages-grid {
  &__wrapper {
    .pagination-box {
      justify-content: center;
    }
  }
  &__product-item-value {
    font-weight: 500;
    word-break: break-word;
  }
  &__product-item-status {
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 14px;
    &.published {
      color: #22A06B;
      background: rgba(34, 160, 107, 0.1);
    }
    &.draft {
      color: #E34935;
      background: rgba(227, 73, 53, 0.2);
    }
  }
}
