.banner-box-4 {
  &__wrapper {
    background: #FAFBFC;
    background: url("~images/banner-bg-4.png") center center no-repeat;
    background-size: cover;
    .pagination-box {
      justify-content: center;
      margin-top: 40px;
    }
  }
  &__center-box {
    display: flex;
    justify-content: center;
  }
  &__contents {
    max-width: 100%;
    text-align: center;
  }
  &__link {
    color: #D97008;
  }
  &__blog-list {
    margin-top: 40px;
  }
}
