.banner-box-4 {
  &__wrapper {
    background: #FAFBFC;
    margin-top: 40px;
    .pagination-box {
      justify-content: center;
    }
  }
  &__center-box {
    display: flex;
    justify-content: center;
  }
  &__contents {
    max-width: 1000px;
    text-align: center;
  }
}
