.product-item {
  &__wrapper {
    background: #ECECEB;
    border-radius: 16px;
    .ant-card-body {
      padding: 0;
    }
  }
  &__covert-image {
    width: 100%;
    padding-top: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 16px;
    }
  }
  &__body {
    padding: 0 16px 16px;
  }
  &__title {
    color: #231814;
    font-size: 24px;
    font-weight: 700;
  }
  &__description {
    margin-top: 12px;
    color: #231814;
  }
  &__footer {
    margin-top: 12px;
  }
}
