.seller-footer {
  &__wrapper {
    margin: -24px -50px;
    padding: 0 82px;
    //background-size: cover;
    display: flex;
    justify-content: center;


    color: #2C3E5D;
  }
  &__contents {
    max-width: 1110px;
    width: 100%;
    padding: 50px;
    background: url("~images/footer_bg.png") center right no-repeat;
  }

  &__title {
    font-weight: 600;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    &--margin-top {
      margin-top: 24px;
    }
    img {
      margin-right: 10px;
    }
  }
  &__text {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    img {
      margin-right: 5px;
    }
  }
  &__link {
    margin-bottom: 8px;
    color: #0065FF;
  }
  &__avatar {
    padding: 10px;
    border-radius: 100%;
    background: #cccccc;
    margin-right: 10px;
    img {
      height: 64px;
      width: 64px;
    }
  }
  &__contact-list {
    img {
      border-radius: 12px;
      width: 100%;
    }
    & > div:nth-child(odd) {
      margin-top: 40px;
    }
  }
  &__contact-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 11px;
    max-height: 217px;
  }
  &__contact-name {
    color: #626F86;
    margin-top: 8px;
  }
  &__contact-work {
    color: #0065FF;
  }
}
