.product-categories {
    &__product-item {
      cursor: default !important;
      .ant-card-cover {
        height: auto !important;
        flex-grow: 1;
      }
    }
    &__category-list {
      .categories-filters__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .categories-filters__item {
          flex-shrink: 0;
          border: 1px solid #cccccc;
          .categories-filters__item-count {
            margin-left: 10px;
          }
        }
      }
    }
  }
  