.home-box {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--desktop {
      padding: 55px 100px 55px 100px;
    }
    &--tablet {
      padding: 55px;
    }
    & > div {
      width: 100%;
    }
  }
  &__header-text {
    color: #626F86;
    line-height: 25px;
  }
  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: #2C3E5D;
  }
  &__description {
    color: #626F86;
    letter-spacing: -0.02em;
    margin-top: 12px;
  }
  &__checkbox-item {
    display: flex;
    align-items: center;
    margin-top: 12px;
  }
  &__item-icon {
    background: url("~images/checked-checkbox.svg") center center no-repeat;
    height: 14px;
    width: 14px;
    flex-shrink: 0;
  }
  &__item-label {
    margin-left: 10px;
    line-height: 20px;
    color: #626F86;
  }
  &__buttons {
    margin-top: 24px;
    display: flex;
    &--center {
      justify-content: center;
    }
    button {
      margin-right: 16px;
    }
  }

  &__img-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }


}
