$primary-color: #0065FF;

.layout {
  .page-wrapper {
    padding: 20px 20px 40px 20px;
    .page-contents {
      padding: 0 24px;
    }
  }

  .title-page {
    font-size: 24px;
  }
}

.layout__wrapper--mobile {
  .page-wrapper {
    padding: 20px 0 40px;
    .page-contents {
      padding: 0 24px;
    }
  }
}

.public-layout__wrapper {
  .page-wrapper, .page-wrapper--full-width {
    padding: 20px 0 40px;
  }
}

.public-layout__wrapper--tablet {
  .page-wrapper {
    max-width: 960px;
    margin: 0 auto;
  }
}

.public-layout__wrapper--desktop {
  .page-wrapper {
    max-width: 1320px;
    margin: 0 auto;
  }
}

.public-layout__wrapper--mobile {
  .page-wrapper {
    padding: 20px 0 40px;
    .page-contents {
      padding: 0 24px;
    }
  }
}

.ant-btn {
  font-weight: 600;
  &.ant-btn-default {
    background: #F7F8F9;
  }
}

.link {
  color: $primary-color;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}


