.add-edit-product-box {
  &__wrapper {
    padding: 21px 57px 40px 25px;
    width: 100%;
  }
  &__button-list {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    button {
      margin-left: 24px;
    }
  }
}
