.my-account {
  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-left: 8px;
  }
  &__box {
    width: 100%;
    padding: 16px;
    box-shadow: 0px 4px 4px rgba(29, 41, 106, 0.25);
    border-radius: 8px;
    background: #FFFFFF;
  }
  &__card-title {
    font-weight: 600;
    color: #2C3E5D;
    display: flex;
    align-items: center;
    img {
      margin-right: 8px;
    }
  }
  &__card {
    .ant-card-head-title {
      padding-top: 0;
    }
    .ant-card-head, .ant-card-body {
      padding: 0;
      border: none;
    }
  }
}
